body {
    background-color: #F0F0F0;
}
/* sidebar admin */
.logo-text {
    color: #404040;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 400;
}
.sidebar-light {
    background-color: #FFFFFF !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sidebar-wrapper {
    width: 80px;
    min-height: 100vh;
}
.content-wrapper {
    width: calc(100% - 80px);
}
@media (min-width: 991.98px) {
    .sidebar-wrapper {
        width: 280px;
    }
    .content-wrapper {
        width: calc(100% - 280px);
    }
}
body > div > ul > li.nav-item {
    margin-top: 40px;
}
.line-logo {
    border-top: 2px solid #FF5722 !important;
    opacity: 100% !important;
}
body > div > div > div > ul > li > a.active {
    background-color: #FF5722 !important;
}
li.nav-item > a.nav-link:hover {
    background-color: #FF5722 !important;
}
li.nav-item > a.nav-link:hover .side-bar-text {
    color: #FFFFFF !important;
}
li.nav-item > a.nav-link:hover svg {
    fill: #FFFFFF !important;
}
li.nav-item > a.nav-link > svg {
    fill: #000000 !important;
}
li.nav-item > a.active > svg {
    fill: #FFFFFF !important;
}
.nav-link {
    margin-top: 15px;
}
.side-bar-text {
    color: #404040;
    margin-left: 20px;
}
.side-bar-text.active {
    color: #FFFFFF;
    margin-left: 20px;
}
.sidebar-bottom-text {
    color: #9A9A9A;
    margin-left: 20px;
    font-size: 16px;
}

/* navbar admin */
.navbar-custom {
    background-color: #6C6C6C;
    height: 60px;
}
.text-profile {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 5px;
}

/* heading */
.heading-text {
    color: #505050;
    font-size: 25px;
    font-weight: 500;
}

.sub-heading-text {
    color: #505050;
    font-size: 22px;
}

/* content */
.card-summary {
    margin-bottom: 20px;
    border-radius: 10px;
    height: 120px;
}
.card-body-summary {
    padding: 1rem 0px !important;
}
.bg-orange {
    background-color: #FF5722 !important;
}
.card-text-title {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.card-identity {
    margin-top: -10px;
}
.card-name-text {
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}
.card-role-text {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: -15px;
}
.card-title-summary {
    color: #909090;
    padding-left: .5rem;
    font-size: 18px;
}
.card-title-summary-svg {
    padding-right: .5rem;
}
.card-text-summary {
    font-weight: 600;
    margin-top: -8px;
    color: #505050;
    font-size: 20px;
    padding-right: 1.3rem;
}
.sub-heading-text-2 {
    color: #505050;
    font-size: 18px;
    font-weight: 600;
}
/* card custom */
.card {
    border-radius: 10px;
}
.card-custom-title {
    color: #505050;
    font-size: 15px;
    padding-left: 1rem;
}
.card-custom-body {
    height: 350px;
    overflow-y: scroll;
}
.line-blue {
    border-top: 1px solid #6236FF;
    opacity: 100%;
}
.line-orange {
    border-top: 1px solid #FF5722;
    opacity: 100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.list-group {
    margin-top: 0%;
    border-radius: 0%;
}
.list-group-item {
    padding-bottom: 0%;
}
.card-list-item {
    color: #505050;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.card-list-price {
    color: #505050;
    font-size: 15px;
}
.number-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #E1E1E1;
    padding-top: 8px;
    color: #505050;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
/* card profile */
.card-profile-red {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 22vh;
    background-color: #AA2E2E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    /* margin-top: 10px; */
}
.card-profile-white {
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 40px;
    margin-top: 0px;
}
.card-profile-title {
    font-size: 22px;
    color: #6C6C6C;
    font-weight: 600;
}
.icon-edit-profile {
    margin-right: 10px;
}
@media (min-width: 991.98px) {
    .icon-edit-profile {
        margin-right: 100px;
    }
}
.card-profile-tagline {
    font-size: 17px;
    color: #6C6C6C;
    font-weight: 400;
}
.card-profile-description {
    color: #6C6C6C;
    font-size: 15px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 20px;
}
.line-card-profile {
    border-top: 1px solid #707070;
    margin-right: 0px;
}
.card-profile-contact {
    color: #6C6C6C;
    font-size: 20px;
}
.card-profile-contact-detail {
    color: #6C6C6C;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}
.margin-row {
    margin-top: 70px;
}
@media (min-width: 991.98px) {
    .margin-row {
        margin-top: 10px;
    }
    .card-profile-title {
        font-size: 25px;
        color: #6C6C6C;
        font-weight: 600;
    }
    .card-profile-tagline {
        font-size: 19px;
        color: #6C6C6C;
        font-weight: 400;
    }
    .card-profile-description {
        color: #6C6C6C;
        font-size: 15px;
        font-weight: 300;
        margin-right: 100px;
        margin-top: 20px;
    }
    .line-card-profile {
        border-top: 1px solid #707070;
        margin-right: 80px;
    }
    .card-profile-contact {
        color: #6C6C6C;
        font-size: 22px;
    }
    .card-profile-contact-detail {
        color: #6C6C6C;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 5px;
    }
}
.line-card-location {
    opacity: 0.28;
    border-top: 1px solid #707070;
    margin-bottom: 4px;
    margin-top: 4px;
}
.circle-absolute {
    position: absolute;
    left: calc(50% - 55px);
    top: 70px;
}
.circle-profile {
    /* width: 100px;
    height: 100px; */
    z-index: 1;
    display: flex;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF;
    background-image: url('https://via.placeholder.com/150.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 100%;
}
.img-profile {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50%;
}
/* .img-profile svg {
    width: 88px;
    height: 58px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */
@media (min-width: 991.98px) {
    .circle-absolute {
        position: absolute;
        left: calc(50% - 90px);
        top: 50px;
    }
    .circle-profile {
        /* width: 200px;
        height: 200px; */
        z-index: 1;
        display: flex;
        padding: 20px;
        text-align: center;
        vertical-align: middle;
        background-color: #FFF;
        border-radius: 100%;
    }
    .img-profile {
        position: relative;
        width: 180px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    /* .img-profile svg {
        width: 118px;
        height: 88px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    } */
}
.btn-profile {
    display: inline;
    color: #6C6C6C;
    background-color: #FFF;
    font-size: 12px;
    border: 1px solid #707070;
    border-radius: 30px;
    padding: 10px 20px;
}
.btn-profile:hover {
    color: #FFF;
    background-color: #FF5722;
    border: 1px solid #707070;
}
.btn-profile:active {
    background-color: #6C6C6C;
    border: 1px solid #707070;
}
.btn-cover {
    position: absolute;
    top: 25px;
    left: 15px;
    right: auto;
}
.btn-logo {
    position: absolute;
    top: 25px;
    right: 15px;
}
@media (min-width: 991.98px) {
    .btn-cover {
        position: absolute;
        top: -60px;
        left: auto;
        right: 15px !important;
    }
    .btn-logo {
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .btn-profile {
        display: inline;
        color: #6C6C6C;
        background-color: #FFF;
        font-size: 16px;
        border: 1px solid #707070;
        border-radius: 30px;
        padding: 10px 40px;
    }
    .btn-profile:hover {
        color: #FFF;
        background-color: #FF5722;
        border: 1px solid #707070;
    }
    .btn-profile:active {
        background-color: #6C6C6C;
        border: 1px solid #707070;
    }
}

/* table */
.table-striped-custom {
    border-collapse: collapse;
    width: 100%;
    padding-top: 0%;
}
.table-striped-custom th, td {
    text-align: left;
    padding: 8px;
}
.table-striped-custom tr:nth-child(even) {
    background-color: #FFF6F3;
}
.table-striped-custom tr td:first-child {
    width: 1%;
    white-space: nowrap;
}
.table-striped-custom tr td:last-child {
    width: 1%;
    white-space: nowrap;
}
.td-food {
    color: #0E77D2;
    font-size: 15px;
    padding-left: 20px;
    text-decoration: underline;
}
.td-category {
    color: #505050;
    font-size: 13px;
    padding: 7px 20px;
    font-weight: 700;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.td-price {
    color: #505050;
    font-size: 15px;
    text-align: right;
}
.btn-transparent {
    background-color: transparent;
    border: none;
}
.btn-transparent:active svg path {
    fill: #F8A24C !important;
}
.input-search {
    width: 60%;
    padding: 3px 10px;
    margin-left: 40px;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    background-color: #F6F6F6;
    resize: vertical;
}
.input-search:focus {
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #555;
}

/* modal */
.modal-title {
    font-size: 22px;
    color: #505050;
    font-weight: 600;
}
.modal-footer {
    display: inline !important;
}

/* form */
.form-control-round {
    width: 100%;
    padding: 8px 20px;
    margin-top: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    background-color: #F6F6F6;
    resize: vertical;
}
.form-control-round:focus {
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #555;
}

/* checkbox */
.container-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #505050;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.container-label:hover input ~ .checkmark {
    background-color: #ccc;
}
.container-label input:checked ~ .checkmark {
    background-color: #909090;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-label input:checked ~ .checkmark:after {
    display: block;
}
.container-label .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* input file */
.form-input-file {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
    padding: 7px 48px 7px 24px;
    background-color: #909090;
    border: 1px solid #707070;
    border-radius: 30px;
}
.form-input-file:active {
    background-color: #7eecb3;
}
.form-input-file-update {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
    padding: 7px 40px 7px 40px;
    background-color: #909090;
    border: 1px solid #707070;
    border-radius: 30px;
}
.form-input-file-update:active {
    background-color: #7eecb3;
}
.form-file {
    display: none;
}

/* button */
.btn-green-round {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #169A55;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #707070;
    padding: .375rem 2.2rem;
    font-size: 1rem;
    border-radius: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-green-round:active {
    background-color: #3bbd7a;
}
.btn-hide-modal {
    background-color: transparent;
    text-decoration: underline;
    color: #363636;
    float: left !important;
    font-size: 15;
    border: none;
}

/* image */
.container-img-menu {
    margin-right: 20px;
}
.preview-menu {
    display: block;
    width: 100%;
    margin-right: 40px;
    margin-top: 10px;
}

/* modal qr */
#qr-code > div > div.modal-content {
    border-radius: 0% !important;
}
.first-modal {
    background-color: #FF5722 !important;
}
#qr-code > div > div > div > div.col-md-6.first-modal > div.modal-header > h5 {
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    padding-top: 0px;
    padding-bottom: 0px;
}
.img-qr-code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}
.link-scan {
    margin-top: 20px;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 20px;
}
.profile-resto {
    margin-right: 20px;
    display: inline;
    margin-left: 20px;
}
.profile-resto img {
    margin-top: 10px;
    border-radius: 50%;
    width: 80px;
}
#profile-box {
    margin-top: 20px;
    margin-left: 15px;
}
#profile-box .name {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 0;
}
#profile-box .address {
    font-size: 12px;
    color: #FFF;
    margin-bottom: 0;
}
.footer-first-modal {
    margin-bottom: -10px;
    margin-top: 30px;
}
.footer-first-modal p {
    color: #FFF;
    font-size: 13px;
    padding: 0px 0px;
}
.second-modal {
    background-color: #e7e5e5 !important;
}
.second-modal > .modal-header {
    border-bottom: #b9b7b7 solid 1px !important;
}
.resto-id {
    font-size: 18px;
    font-weight: 400;
}
.resto-id-number {
    color: #FF5722;
    font-size: 20px;
    font-weight: 700;
}
.btn-copy-link {
    width: 100%;
    display: inline;
    color: #6C6C6C;
    background-color: #FFF;
    font-size: 12px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}
.btn-copy-link:hover {
    color: #FFF;
    background-color: #FF5722;
    border: none;
}
.btn-copy-link:active {
    background-color: #6C6C6C;
    border: none;
}
.share-sosmed {
    color: #363636;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}
.btn-icon-print {
    border: none;
    background-color: #FFF;
    width: 55px;
    height: 55px;
    border-radius: 10px;
}
.btn-icon-print:hover {
    color: #FFF;
    background-color: #FF5722;
    border: none;
}
.btn-icon-print:active {
    background-color: #6C6C6C;
    border: none;
}
.footer-second-modal {
    font-size: 10px;
}