html, body {
    background-color: #FFF;
    overflow-y: auto;
    position: relative;
}
.header-wrapper {
    position: relative;
    background-color: #616161;
    border: #707070;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 25vh;
}
.wrapper {
    width: 100%;
    background-color: #F0F0F0;
    min-height: 100vh;
}
.wrapper-content {
    margin-bottom: 80px;
}
@media (min-width: 576px) {
    .wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: #F0F0F0;
    }
}
.header-title {
    position: absolute;
    width: 100%;
    padding: 19px 28px 19px 28px;
}
.header-title h4 {
    color: #FFF;
    font-weight: 700;
    margin-top: 3px;
    font-size: 20px;
}
.header-cover {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 163px;
    border-radius: 12px;
    background: url('https://via.placeholder.com/352x163.png');
}
.cover-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.31);
    padding: 1px 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.cover-title h4 {
    font-size: 22px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 0;
}
.cover-title h5 {
    margin-top: 5px;
    font-size: 17px;
    color: #FFF;
    font-weight: 500;
}
.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #FFF;
}
.img-profile img {
    object-fit: cover;
    width: 100%;
    height: 50px;
    border-radius: 50%;
}
.slide-favorite {
    margin-top: 50px;
    width: 100%;
}
.slide-favorite h4 {
    padding: 0px 28px 0px 28px;
    color: #6C6C6C;
    font-weight: 600;
    font-size: 16px;
}
a.card-favorite-link {
    text-decoration: none !important;
}
.card-favorite {
    background-color: #FFF;
    margin: 10px 10px;
    border-radius: 10px;
}
.card-favorite img {
    object-fit: cover;
    width: 400px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-favorite-body {
    padding: 5px 8px;
}
.card-favorite-body h6 {
    color: #6C6C6C;
    text-decoration: none !important;
    font-weight: 600;
    font-size: 11px;
}
.card-favorite-body p {
    font-size: 10px;
    text-decoration: none;
    color: #6c6c6c;
    margin-bottom: 5px;
}
#myTab {
    width: 90%;
    position: relative;
    margin: auto;
    border-bottom: 1px solid #707070;
    justify-content: center;
}
#myTab li.nav-item {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 48%;
    text-align: center !important;
}
#myTab #dropdown-button {
    display: block;
    position: absolute;
    width : 20px;
    height: 20px;
    right: 0;
    top: 10px;
}

#myTab .nav-link.active {
    border-color: transparent;
    background-color: transparent;
    outline: none;
    border-bottom: 5px solid #FF5722;
    width: 100%;
}
#myTab .nav-link {
    font-size: 18px;
    color: #6C6C6C;
    font-weight: 600;
    text-align: center !important;
    margin: auto;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown-toggle::after {
    content: "" !important;
    display: none !important;
}
#myTabContent .tab-pane {
    margin: 20px;
}
.img-content-tab {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
.title-content-tab {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 600;
}
.title-sub-content-tab {
    font-size: 14px;
    color: #6C6C6C;
}

.nav-bottom {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #FFF;
    bottom: 0;
}
@media (min-width: 576px) {
    .nav-bottom {
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        width: 500px;
        height: 60px;
        background-color: #FFF;
        bottom: 0;
    }
}
.nav-bottom .nav-link {
    color: #1F1F1F;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}
.active-nav-bottom {
    color: #FF5722 !important;
    font-weight: 700;
}
.btn-nav-bar {
    position: absolute;
    left: calc(50% - 30px);
    bottom: 30px;
    border: none;
    border-radius: 50%;
    background-color: #FF5722;
    text-align: center;
    width: 60px;
    height: 60px;
}
.btn-nav-bar:active {
    background-color: #6C6C6C;
}
#modal-detail-menu > div > .modal-content {
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 20px;
}
.img-detail-menu {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.detail-menu {
    margin: 20px;
}
.detail-price {
    margin-top: 10px;
    color: #FF5722;
    font-size: 16px;
}
.btn-transparent {
    display: inline;
    background-color: transparent;
    text-align: center;
    border: none;
}
.btn-transparent:active svg path {
    fill: #FF5722 !important;
}
.btn-back {
    margin-left: 40px;
}
.order-title {
    margin-top: 20px;
    color: #373737;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
}
.line-order {
    padding-left: 40px;
    padding-right: 40px;
    border-top: 2px solid #707070;
}
.order-row-content {
    padding: 20px 50px 0 50px;
}
.profile-img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    left: calc(50% - 75px);
    top: calc(100% + 30px);
}
.form-profile {
    margin: 80px 20px;
}
.form-control-round {
    width: 100%;
    padding: 8px 20px;
    margin-top: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    background-color: #FFF;
    resize: vertical;
}
.form-control-round:focus {
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #555;
}
.btn-logout {
    margin-top: 40px;
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 30px;
    background-color: #FF5722;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.btn-logout:hover {
    background-color: #707070;
}
.btn-logout:active {
    background-color: #707070;
}
.form-change-profile {
    background-color: #FFF;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: calc(50% - 75px);
    top: calc(100% + 120px);
}
.form-change-profile:active {
    background-color: #FF5722;
}
.form-change-profile svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}
.title-card-list {
    font-size: 14px;
    color: #707070;
    font-weight: 700;
}
.list-group-item > a {
    text-decoration: none;
    color: #1F1F1F;
}
.article-content {
    padding: 20px 20px;
}
.article-title {
    font-size: 24px;
    color: #FFF;
    position: absolute;
    top: calc(100% + 50px);
}